@{
    ViewData["Title"] = "Home Page";
}

<div id='app-root'>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>トップページ</h4>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}